<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pengumuman_DILMIL.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <Pengumuman_DILMIL.My.MySettings>
            <setting name="belmasuk" serializeAs="String">
                <value />
            </setting>
            <setting name="belpulang" serializeAs="String">
                <value />
            </setting>
            <setting name="p1" serializeAs="String">
                <value />
            </setting>
            <setting name="p2" serializeAs="String">
                <value />
            </setting>
            <setting name="p3" serializeAs="String">
                <value />
            </setting>
            <setting name="p4" serializeAs="String">
                <value />
            </setting>
            <setting name="p5" serializeAs="String">
                <value />
            </setting>
            <setting name="hari" serializeAs="String">
                <value />
            </setting>
        </Pengumuman_DILMIL.My.MySettings>
    </userSettings>
</configuration>